<!DOCTYPE html>
<html>
<head>
  <title>RailsUploads</title>
  <%= stylesheet_link_tag    "rails_uploads/application", :media => "all" %>
  <%= javascript_include_tag "rails_uploads/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
